@model IEnumerable<AmorDoce.Models.Produtos>

@using AmorDoce.Models

@{
    ViewBag.Title = "Home Page";
}

<header class="justify-content-center align-items-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="jumbotron">
            <h1 class="jumbotron-heading">Bem-vindo à Confeitaria Amor Doce</h1>
            
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="title">Nossos Serviços</h2>
            <p class="mt-3">
                Vendemos todos os tipos de doces que você possa imaginar!
            </p>
        </div> 
        @if(ViewBag.SemProdutos == "") { 
        foreach (var item in Model)
        {
            <div class="col-md-4 mt-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Content(item.foto_caminho)" alt="@Html.DisplayFor(modelItem => item.descricao_produto)" style="width:286px; height: 190px;">
                    <div class="card-body">
                        <span class="title text-center">@Html.DisplayFor(modelItem => item.nome_produto)</span>
                        <p class="card-text text-center">@Html.DisplayFor(modelItem => item.descricao_produto)</p>                      
                    </div>
                </div>
            </div>
            }
        }
        else
        {
            <div style="text-align: center; width: 100%;">
                <h2>@ViewBag.SemProdutos</h2>
            </div>
        }
    </div>   
</div>